div{
    margin: 10px
    background-color: black;
    border: 10px solid black;
    font-family: 'Libre Baskerville', serif;}
h1{
    text-transform: uppercase;
    color: white;
    text-align: center;
}
p{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
img{
    border: 5px solid white;
    width: 100%;

}
